openapi: 3.0.0
info:
  title: watsonx.ai Text Generation API
  description: |
    watsonx.ai の foundation models を使用してテキスト生成を行うための API です。
    
    ## セットアップ方法
    
    このファイルを使用する前に、以下の値を自分の環境に合わせて書き換えてください。
    
    | 項目 | 場所 | 取得方法 |
    |------|------|----------|
    | `servers.url` | ファイル上部 `servers:` セクション | 使用する watsonx.ai のリージョン URL に変更 |
    | `YOUR_PROJECT_ID` | `project_id` の `default` / `example` | watsonx.ai プロジェクトの設定ページで確認 |
    | `YOUR_MODEL_ID` | `model_id` の `default` / `example` | watsonx.ai でデプロイしたモデルの ID |
    
    詳細な手順は [README](https://github.com/IBM/connect_wxo-wxai) を参照してください。
  version: 1.0.0
  contact:
    name: IBM watsonx.ai
    url: https://www.ibm.com/watsonx
  x-ibm-application-name: watsonx-ai-text-generation
  x-ibm-application-id: watsonx-ai-api

# ---------------------------------------------------------------
# 【要変更】使用するリージョンの URL に合わせてコメントを外してください
# ---------------------------------------------------------------
servers:
  - url: https://us-south.ml.cloud.ibm.com
    description: IBM watsonx.ai US-South リージョン（ダラス）
  # - url: https://eu-gb.ml.cloud.ibm.com
  #   description: IBM watsonx.ai EU-GB リージョン（ロンドン）
  # - url: https://eu-de.ml.cloud.ibm.com
  #   description: IBM watsonx.ai EU-DE リージョン（フランクフルト）
  # - url: https://jp-tok.ml.cloud.ibm.com
  #   description: IBM watsonx.ai AP-North リージョン（東京）

security:
  - ApiKeyAuth: []

paths:
  /ml/v1/text/generation:
    post:
      summary: テキスト生成
      description: watsonx.ai の foundation models を使用してテキストを生成します
      operationId: generateText
      tags:
        - Text Generation
      security:
        - ApiKeyAuth: []
      parameters:
        - name: version
          in: query
          required: true
          schema:
            type: string
            default: "2024-05-31"
          description: API バージョン日付
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - input
                - model_id
                - project_id
              properties:
                input:
                  type: string
                  description: 生成のための入力プロンプト
                  example: "日本の首都はどこですか？"
                model_id:
                  type: string
                  description: |
                    使用する foundation model の ID。
                    【要変更】watsonx.ai で使用するモデルの ID に書き換えてください。
                    例: ibm/granite-3-3-8b-instruct, meta-llama/llama-3-3-70b-instruct
                  default: "YOUR_MODEL_ID"
                  example: "ibm/granite-3-3-8b-instruct"
                project_id:
                  type: string
                  description: |
                    watsonx.ai プロジェクト ID。
                    【要変更】自分のプロジェクト ID に書き換えてください。
                    取得場所: watsonx.ai → 対象プロジェクト → 管理 → 一般 → プロジェクト ID
                  default: "YOUR_PROJECT_ID"
                  example: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                parameters:
                  type: object
                  description: テキスト生成のパラメータ
                  properties:
                    max_new_tokens:
                      type: integer
                      description: 生成する最大トークン数
                      default: 200
                      minimum: 1
                      maximum: 4096
                      example: 200
                    min_new_tokens:
                      type: integer
                      description: 生成する最小トークン数
                      default: 0
                      minimum: 0
                      example: 0
                    temperature:
                      type: number
                      format: float
                      description: サンプリング温度（0-2の範囲）
                      default: 0.7
                      minimum: 0
                      maximum: 2
                      example: 0.7
                    top_p:
                      type: number
                      format: float
                      description: nucleus sampling のしきい値
                      default: 1
                      minimum: 0
                      maximum: 1
                      example: 1
                    top_k:
                      type: integer
                      description: top-k sampling のパラメータ
                      default: 50
                      minimum: 0
                      example: 50
                    repetition_penalty:
                      type: number
                      format: float
                      description: 繰り返しペナルティ
                      default: 1
                      minimum: 1
                      maximum: 2
                      example: 1
                    stop_sequences:
                      type: array
                      description: 生成を停止するシーケンス
                      items:
                        type: string
                      example: ["\n\n"]
                    return_options:
                      type: object
                      description: レスポンスオプション
                      properties:
                        input_text:
                          type: boolean
                          default: false
                        generated_tokens:
                          type: boolean
                          default: false
                        input_tokens:
                          type: boolean
                          default: false
                        token_logprobs:
                          type: boolean
                          default: false
                        token_ranks:
                          type: boolean
                          default: false
      responses:
        '200':
          description: テキスト生成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  model_id:
                    type: string
                    description: 使用されたモデル ID
                    example: ibm/granite-3-3-8b-instruct
                  created_at:
                    type: string
                    format: date-time
                    description: 生成日時
                    example: "2025-12-19T09:19:03.000Z"
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        generated_text:
                          type: string
                          description: 生成されたテキスト
                          example: "日本の首都は東京です。"
                        generated_token_count:
                          type: integer
                          description: 生成されたトークン数
                          example: 15
                        input_token_count:
                          type: integer
                          description: 入力トークン数
                          example: 10
                        stop_reason:
                          type: string
                          description: 生成停止理由
                          enum: [eos_token, max_tokens, stop_sequence, time_limit, not_finished]
                          example: eos_token
                  system:
                    type: object
                    properties:
                      warnings:
                        type: array
                        items:
                          type: object
                          properties:
                            message:
                              type: string
                            id:
                              type: string
        '400':
          description: リクエストエラー（無効なパラメータなど）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 認証エラー（無効な API キーまたはトークン）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 権限エラー（プロジェクトへのアクセス権限がない）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: リソースが見つかりません（モデルまたはプロジェクトが存在しない）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /ml/v1/text/generation_stream:
    post:
      summary: ストリーミングテキスト生成
      description: watsonx.ai の foundation models を使用してテキストをストリーミング生成します
      operationId: generateTextStream
      tags:
        - Text Generation
      security:
        - ApiKeyAuth: []
      parameters:
        - name: version
          in: query
          required: true
          schema:
            type: string
            default: "2024-05-31"
          description: API バージョン日付
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - input
                - model_id
                - project_id
              properties:
                input:
                  type: string
                  description: 生成のための入力プロンプト
                  example: "日本の首都はどこですか？"
                model_id:
                  type: string
                  description: |
                    使用する foundation model の ID。
                    【要変更】watsonx.ai で使用するモデルの ID に書き換えてください。
                  default: "YOUR_MODEL_ID"
                  example: "ibm/granite-3-3-8b-instruct"
                project_id:
                  type: string
                  description: |
                    watsonx.ai プロジェクト ID。
                    【要変更】自分のプロジェクト ID に書き換えてください。
                  default: "YOUR_PROJECT_ID"
                  example: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
                parameters:
                  type: object
                  description: テキスト生成のパラメータ
                  properties:
                    max_new_tokens:
                      type: integer
                      description: 生成する最大トークン数
                      default: 200
                      minimum: 1
                      maximum: 4096
                      example: 200
                    min_new_tokens:
                      type: integer
                      description: 生成する最小トークン数
                      default: 0
                      minimum: 0
                      example: 0
                    temperature:
                      type: number
                      format: float
                      description: サンプリング温度（0-2の範囲）
                      default: 0.7
                      minimum: 0
                      maximum: 2
                      example: 0.7
                    top_p:
                      type: number
                      format: float
                      description: nucleus sampling のしきい値
                      default: 1
                      minimum: 0
                      maximum: 1
                      example: 1
                    top_k:
                      type: integer
                      description: top-k sampling のパラメータ
                      default: 50
                      minimum: 0
                      example: 50
                    repetition_penalty:
                      type: number
                      format: float
                      description: 繰り返しペナルティ
                      default: 1
                      minimum: 1
                      maximum: 2
                      example: 1
                    stop_sequences:
                      type: array
                      description: 生成を停止するシーケンス
                      items:
                        type: string
                      example: ["\n\n"]
                    return_options:
                      type: object
                      description: レスポンスオプション
                      properties:
                        input_text:
                          type: boolean
                          default: false
                        generated_tokens:
                          type: boolean
                          default: false
                        input_tokens:
                          type: boolean
                          default: false
                        token_logprobs:
                          type: boolean
                          default: false
                        token_ranks:
                          type: boolean
                          default: false
      responses:
        '200':
          description: ストリーミング生成成功
          content:
            text/event-stream:
              schema:
                type: string
                description: Server-Sent Events (SSE) 形式のストリーム
        '400':
          description: リクエストエラー（無効なパラメータなど）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 認証エラー（無効な API キーまたはトークン）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 権限エラー（プロジェクトへのアクセス権限がない）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: リソースが見つかりません（モデルまたはプロジェクトが存在しない）
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: サーバーエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: IBM Cloud API キーから取得した IAM トークンを 'Bearer <token>' 形式で指定します
      x-ibm-authentication:
        type: iam
        url: https://iam.cloud.ibm.com/identity/token
  
  schemas:
    Error:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: エラーコード
                example: invalid_request_entity
              message:
                type: string
                description: エラーメッセージ
                example: リクエストが無効です
              more_info:
                type: string
                description: 詳細情報へのリンク
        trace:
          type: string
          description: トレース ID
          example: abc123xyz
        status_code:
          type: integer
          description: HTTP ステータスコード
          example: 400
